{% extends "passwordapp/base.html" %}
{% load staticfiles %}


{% block body_block%}

<div class="jumbotron">
  <!-- registered,user_form,profile_pic will be passed when this template is called and they all are defined in views.py -->
  {% if registered %}
  <h1>Thank you for registering!</h1>
  {% else %}
  <h1>Register Here!</h1>
  <h3>Fill Out The Form:</h3>

  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}
    <input type="submit"  value="Register">

  </form>
  {% endif %}
  {% endblock %}
</div>
